
.btnSelect {
    cursor: pointer;
}

#blocklyDiv {
    height: 300px; 
    width: 100%;
    margin-top: 20px;
}

button{
    margin-left: 20px;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
}

.selected {
    background-color: aquamarine;
}